#include <zephyr/dt-bindings/gpio/gpio.h>

&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;   /* 100 kHz to start */

    remote_pico: remote_pico@42 {
        compatible = "vnd,remote-pico";
        reg = <0x42>;
        int-gpios = <&gpio0 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
        status = "okay";
    };
};
